*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
}


.navbar{
    display:flex;
    
    /* border:1px solid white; */
    
}
.dot{
    
    background-color:#005aac;
    cursor: pointer;
    width:80px;
    height:100%;
}
.dot1{
    padding-left:10px;
    padding-top: 20px;
    color: white;
}
.dot2{
padding-left: 10px;
color: white;
}
.dot3{
padding-left:10px;
color: white;
}

.nav_elements{
    display: flex;
    align-items: center;
    gap:2vw;
    margin-left: 80px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    
    

}


.nav_elements a{
    text-decoration: none;
}
.nav_elements a:hover{
    color:aqua;
    text-decoration: underline;

}
.logo img{
    display: flex;
    align-items: center;
    height: 67px;
    width: 266px;
    margin-top: 19px;
}
/* img{
    align-self: flex-start;
} */
.fa-solid{
    display: flex;
    align-items: center;
    /* gap: 10vw; */
    margin-left:230px;
    padding:10px;
}
.register{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 18px 20px;
    border: 1px solid;
    border-radius: 20px;
    background-color: blue;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    
    font-style: normal;
    font-weight: 600;
    

    
}

.para1{
    margin-top: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.03em;
    
    font-family: Inter, Arial, Helvetica, sans-serif;

}
.para2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.03em;
    
    font-family: Inter, Arial, Helvetica, sans-serif;

}
.content2{
    display:flex;
    margin-top: 25px;
    background-color:aliceblue;
}

.left img{
border-radius:32px;
width:866px;
height:866px;
padding: 100px;
}

.right{
    width:100%;
    height:80%;
    font-size: 14pt;
    display:flex;
    flex-direction:column;
    
    
    font-family: Inter, Arial, Helvetica, sans-serif;
}
.paratop{
word-spacing:5px;
    margin-top: 150px;
    margin-right: 100px;
    box-sizing: border-box;
    width: 500px;
    line-height: 1.5;
    
}
.paradown{
    margin-top: 20px;
    margin-right: 100px;
    box-sizing: border-box;
    width:500px;
    line-height: 1.5;
    word-spacing: 5px;

}
.difflogo{
    
    padding:80px;
    display:flex;
    justify-content: space-between;
    background-color: aliceblue;

}
.web{
    width:120px;
    width:120px;
    filter: grayscale(100%);
    opacity: 0.5;
}
.web:hover{
    filter: grayscale(0%);
    cursor:pointer;
    opacity:1;
}
.content_four{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 400px; */
    
}
.faq{
    background-color: blue;
    width:750px;
    height:600px;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    z-index:2;
    margin-left:30px;
    
}
.faqs{
    background-color: white;
    height:58px;
    width:700px;
    border-radius:0.4rem;
    margin-left:40px;
    padding:0.937rem;
    margin-right: 40px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    
}

.faq h1{
    margin-right: 500px;
    color:aqua;


}
.iframe{
    z-index:1;
    
    /* height:400px;
    width:500px; */
}
.heading{
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top:80px;
    
}
.content5{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.leftimg img{
    width:600px;
    height:310px;
    margin-left: 200px;
    margin-top:150px;
    align-content: center;
}
.rightcontent{
    /* height:310px; */
    width:500px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1.875em;
    word-spacing:2px;
    box-sizing: border-box;
    font-size: 14pt;
    margin-right: 20px;
}
/* .service ul li a{
    display: none;
}

.service:hover{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.service ul {
    display: none;
    
    
    
    
   
   
}
.service:hover ul {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    

}
.service ul li {
    list-style: none;
}
.service ul li a {
    
    
    text-decoration: none;

}
.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 50px;
    border: 1px;
}

.lastcont{
    width: 100%;
    height: auto;
    background-color:#E6EAED;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.info{
    
    padding: 30px;
}
.ser_vice{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.ser_vice h4{
    margin-top: 10px;
}
.web{
    font-size: 16px;
    font-family:Inter, Arial, Helvetica, sans-serif;
    color:#00bbee;
    font-weight: bold;

}

.info img{
    /* margin-top:10px; */
    width:217px;
    height:55px;
    margin-bottom: 5px;
    
}
.info p{
    width:350px;
    line-height: 1.875em;
    word-spacing:1px;
    
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size:16px;

}
.web{
    color: #00bbee;
    box-sizing: border-box;
}
.ser_vice{
    width:190px;
    height:332.4px;
}
.ser_vice a{
    text-decoration: none;  
      
}
.cont a{
    text-decoration: none;
    /* font-size: 12pt; */
    font-family: Inter, Arial, Helvetica, sans-serif;
    
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 12px;
    color:#00bbee;

}

.comp{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    
}
.cont{
    /* margin-left: 120px; */
    
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:200px;
      
        
        
        
        
   
}

    

.about1{
    text-decoration: none;
    color: #00bbee;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-right:20px;

    
    
}
.line{
    margin-left:20px;
}






.dibba1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;

}
.dibba2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;

}

.dibba3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;

}
.dabba{
    border:1px solid black;
    width:337.82px;
    height: 90px;
    box-sizing: border-box;
    padding:10px;
    background-color:black;
    color: white;
    transition: background-color 2s ease-out;
    transition: margin-top 2s ease-out;
    
    
}
.dabba1{
    border:1px solid black;
    width:337.82px;
    height: 90px;
    box-sizing: border-box;
    padding:10px;
    background-color:black;
    color: white;
    transition: background-color 2s ease-out;
    transition: margin-top 2s ease-out;
}
.dabba2{
    border:1px solid black;
    width:337.82px;
    height: 90px;
    box-sizing: border-box;
    padding: 10px;
    background-color:black;
    color: white;
    transition: background-color 2s ease-out;
    transition: margin-top 2s ease-out;
}

.dabba:hover{
    background-color: #00bbee;
    color: black;
    margin-top: 15px;

}
.dabba1:hover{
    background-color: #00bbee;
    color: black;
    margin-top: 15px;
}
.dabba2:hover{
    background-color: #00bbee;
    color: black;
    margin-top: 15px;;
}
.lastline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#E6EAED;
}
.kreativan{
    margin-left: 150px;
}
.about2{
    text-decoration: none;
    color: black;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: .875em;
}






